<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS47wcAQjv6p-OipICc9rL1OwUxag0zVA</string>
	<key>GCM_SENDER_ID</key>
	<string>313737882209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFacebook</string>
	<key>PROJECT_ID</key>
	<string>flutter-facebook-e760f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-facebook-e760f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313737882209:ios:47d16787b0af81907d1820</string>
</dict>
</plist>